@(lollyForm: Form[LollyForm])

@import helper._

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Play - Lolly</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/lolly.css")">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/lolly.js")"></script>
</head>
<body>
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-sm-2", "col-sm-4") }
@b3.form(routes.Application.index, 'id -> "form") {
	@b3.select(lollyForm("selectedLangID"), options(lollyForm.get.langMap), '_label -> "Language:")
	@b3.select(lollyForm("selectedDictName"), options(), '_label -> "Dictionary:")
	@b3.multifield()(Seq('_label -> "Word:"), Seq.empty) { implicit cfc =>
		@b3.text(lollyForm("word"))
	    <button type="button" class="btn btn-primary" id='search'>Search</button>
	}
}
<iframe id='dictframe'>
</iframe>
</body>
</html>