<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Spring4 Mvc thymeleaf - Lolly</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.min.js"></script>
<script>
$(function() {
	var $lang = $('#lang');
	var $dict = $('#dict');
	$lang.change(function() {
 	    $.post("dictList3", $(this).serialize(), function(response) {
			$("#dict option").remove();
			var options = Enumerable.From(response).Aggregate("",
				"acc, item => acc + '<option>' + item + '</option>'"
			);
			// alert(options);
			$dict.html(options);
 		});
	});
	$lang.change();
	$('#search').click(function() {
		// cannot use $(this).serialize()
	    $.post("dictall3", $('#form').serialize(), function(response) {
			var word = $('#word').val();
			var url = response.url.replace('{0}', encodeURIComponent(word));
			// alert(url);
			$('#dictframe').attr('src', url);
	    });
	});
});
</script>
</head>
<body>
<form id="form" method="post" th:object="${formBean}">
	<table>
		<tr>
			<td>Language:</td>
			<td>
				<select th:field="*{selectedLangID}" id="lang" >
					<option th:each="lang : ${formBean.langList}"
          					th:value="${lang.langid}"
          					th:text="${lang.langname}"></option>
				</select>
			</td>
			<td>Dictionary:</td>
			<td>
				<select th:field="*{selectedDictName}" id="dict">
				</select>
			</td>
		</tr>
		<tr>
			<td>Word:</td>
			<td colspan="2"><input type="text" th:field="*{word}" id="word" /></td>
            <td>
                <input type="button" value="Search" id='search' />
            </td>
        </tr>
	</table>
</form>
<iframe id='dictframe' width='100%' height='500'>
</iframe>
</body>
</html>