<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Spring4 Mvc thymeleaf - Lolly</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(function() {
	var $lang = $('#lang');
	var $dict = $('#dict');
	$lang.change(function() {
 	    $.post("dictList3", $('#form').serialize(), function(response) {
            $dict.empty();
            $.each(response, function(index, dict) {
                $dict.append($('<option/>', {text: dict}));
            });
 		});
	});
	$lang.change();
	$('#search').click(function() {
	    $.post("dictall3", $('#form').serialize(), function(response) {
			var word = $('#word').val();
			var url = response.url.replace('{0}', encodeURIComponent(word));
			$('#dictframe').attr('src', url);
	    });
	});
});
</script>
</head>
<body>
<form id="form" th:object="${formBean}">
	<label for='selectedLangID'>Language:</label>
	<select th:field="*{selectedLangID}" id="lang" >
		<option th:each="lang : ${formBean.langList}"
				th:value="${lang.langid}"
				th:text="${lang.langname}" />
	</select>
	<label for='selectedDictName'>Dictionary:</label>
	<select th:field="*{selectedDictName}" id="dict">
	</select>
	<label for='word'>Word:</label>
	<input type="text" th:field="*{word}" id="word" />
	<input type="button" value="Search" id='search' />
</form>
<iframe id='dictframe' width='100%' height='500'>
</iframe>
</body>
</html>