@(lollyForm: play.data.Form[LollyForm])

@import helper._

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Play - Lolly</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/lolly.css")">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
$(function() {
	var $lang = $('#selectedLangID');
	var $dict = $('#selectedDictName');
	$lang.change(function() {
 	    $.get("dictList", $('#form').serialize(), function(response) {
            $dict.empty();
            $.each(response, function(index, dict) {
                $dict.append($('<option/>', {text: dict}));
            });
 		});
	});
	$lang.change();
	$('#word').keypress(function(event) {
		if(event.which == 13){
			event.preventDefault();
			$('#search').click();
		}
	});
	$('#search').click(function() {
	    $.get("dictall", $('#form').serialize(), function(response) {
			var word = $('#word').val();
			var url = response.url.replace('{0}', encodeURIComponent(word));
			$('#dictframe').attr('src', url);
	    });
	});
});
</script>
</head>
<body>
<form class="form-horizontal" id="form">
	<div class="form-group">
		@lollySelect(lollyForm("selectedLangID"), options(lollyForm.get.langMap), "Language:")
	</div>
	<div class="form-group">
		@lollySelect(lollyForm("selectedDictName"), options(), "Dictionary:")
	</div>
	<div class="form-group">
		@lollyInputText(lollyForm("word"), "Word:")
	    <button type="button" class="btn btn-primary" id='search'>Search</button>
	</div>
</form>
<iframe id='dictframe'>
</iframe>
</body>
</html>