<#import "/spring.ftl" as spring />
<!DOCTYPE html >
<html>
<head>
<title>Spring4 Mvc freemarker - Lolly</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(function() {
	var $lang = $('#selectedLangID');
	var $dict = $('#selectedDictName');
	$lang.change(function() {
 	    $.post("dictList3", $('#form').serialize(), function(response) {
            $dict.empty();
            $.each(response, function(index, dict) {
                $dict.append($('<option/>', {text: dict}));
            });
 		});
	});
	$lang.change();
	$('#search').click(function() {
	    $.post("dictall3", $('#form').serialize(), function(response) {
			var word = $('#word').val();
			var url = response.url.replace('{0}', encodeURIComponent(word));
			$('#dictframe').attr('src', url);
	    });
	});
});
</script>
</head>
<body>
<form id="form" method="post"> <@spring.bind "formBean" />
	<table>
		<tr>
			<td>Language:</td>
			<td><@spring.formSingleSelect "formBean.selectedLangID", formBean.langMap />
			</td>
			<td>Dictionary:</td>
			<td><@spring.formSingleSelect "formBean.selectedDictName", formBean.langMap />
			</td>
		</tr>
		<tr>
			<td>Word:</td>
			<td colspan=2><@spring.formInput "formBean.word", "" /></td>
            <td>
                <input type="button" value="Search" id='search' />
            </td>
        </tr>
	</table>
</form>
<iframe id='dictframe' width='100%' height='500'>
</iframe>
</body>
</html>