<!DOCTYPE html >
<html>
<head>
<title>Spring4 Mvc velocity - Lolly</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
#[[<script>
$(function() {
	var $lang = $('#lang');
	var $dict = $('#dict');
	$lang.change(function() {
 	    $.post("dictList3", $('#form').serialize(), function(response) {
            $dict.empty();
            $.each(response, function(index, dict) {
                $dict.append($('<option/>', {text: dict}));
            });
 		});
	});
	$lang.change();
	$('#search').click(function() {
	    $.post("dictall3", $('#form').serialize(), function(response) {
			var word = $('#word').val();
			var url = response.url.replace('{0}', encodeURIComponent(word));
			$('#dictframe').attr('src', url);
	    });
	});
});
</script>]]#
</head>
<body>
<form id="form"> #springBind("formBean")
	<label for='selectedLangID'>Language:</label>
	#springBind("formBean.selectedLangID")
	<select name="${status.expression}" id="lang">
		#foreach($lang in $formBean.langList)
			<option value="${lang.langid}">$lang.langname</option>
		#end
	</select>
	<label for='selectedDictName'>Dictionary:</label>
	#springBind("formBean.selectedDictName")
	<select name="${status.expression}" id="dict">
	</select>
	<label for='word'>Word:</label>
	#springFormInput("formBean.word")
	<input type="button" value="Search" id='search' />
</form>
<iframe id='dictframe' width='100%' height='500'>
</iframe>
</body>
</html>