<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spring4 Mvc velocity - Lolly</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../resources/css/lolly.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
#[[<script>
$(function() {
	var $lang = $('#lang');
	var $dict = $('#dict');
    $lang.change(function() {
        $.post("dictList3", $('form').serialize(), function(response) {
            $dict.empty();
            $.each(response, function(index, dict) {
                $dict.append($('<option/>', {text: dict}));
            });
        });
    });
    $lang.change();
    $('form').submit(function() {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "dictall3",
            data: $('form').serialize(),
            success: function(response) {
                $('#wordError').empty();
                var word = $('#word').val();
                var url = response.url.replace('{0}', encodeURIComponent(word));
                $('#dictframe').attr('src', url);
            },
            error: function(response) {
                //alert(JSON.stringify(response));
                var err = response.responseJSON[0];
                $('#wordError').html(err.field + ": " + err.defaultMessage);
                $('#dictframe').attr('src', 'about:blank');
            }
        });
    });
});
</script>]]#
</head>
<body>
<form class="form-horizontal"> #springBind("formBean")
	<div class="form-group">
		<label class="col-sm-1 control-label" for='lang'>Language:</label>
    	<div class="col-sm-3">
			#springBind("formBean.selectedLangID")
			<select class="form-control" name="selectedLangID" id="lang">
				#foreach($lang in $formBean.langList)
					<option value="${lang.langid}">$lang.langname</option>
				#end
			</select>
		</div>
		<label class="col-sm-1 control-label" for='dict'>Dictionary:</label>
    	<div class="col-sm-3">
			<select class="form-control" name="selectedDictName" id="dict">
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label" for='word'>Word:</label>
    	<div class="col-sm-3">
			#springFormInput("formBean.word", 'class="form-control"')
		</div>
        <input type="submit" class="btn btn-primary" value='Search' />
        <div class="col-sm-3 error vcenter" id='wordError'></div>
	</div>
</form>
<iframe id='dictframe'>
</iframe>
</body>
</html>